@model WebApplication1.ViewModels.UserLoginViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.UsernameOrEmail)
        @Html.TextBoxFor(m => m.UsernameOrEmail, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UsernameOrEmail)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <div class="form-group">
        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe)
    </div>

    <div class="form-group">
        <input type="submit" value="Log In" class="btn btn-primary" />
    </div>
}
