@model IEnumerable<WebApplication1.Models.FoodItem>

@{
    ViewBag.Title = "About";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!-- Header Area Starts -->
<header class="header-area header-area2">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo-area">
                    <a href="index.html"><img src="~/assets/images/logo/logo2.png" alt="logo"></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="custom-navbar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="main-menu main-menu2">
                    <ul>
                        <li class="active">
                            @Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })
                        </li>
                        <li class="active">
                            @Html.ActionLink("About", "About", "Home", new { @class = "nav-link" })
                        </li>
                        <li class="active">
                            @Html.ActionLink("Menu", "Menu", "Home", new { @class = "nav-link" })
                        </li>
                        <li class="active">
                            @Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-link" })
                        </li>
                        <li class="active">
                            <a href="~/FoodItems/Index" class="nav-link">Item</a>
                        </li>
                        <li class="active">
                            @Html.ActionLink("Login", "Login", "Home", new { @class = "nav-link" })
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->
<!-- Banner Area Starts -->
<section class="banner-area banner-area2 text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1><i>About Us</i></h1>
                <p class="pt-2"><i>Beast kind form divide night above let moveth bearing darkness.</i></p>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End -->
<!-- Welcome Area Starts -->
<section class="welcome-area section-padding2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <div class="welcome-img">
                    <img src="~/assets/images/welcome-bg.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="welcome-text mt-5 mt-md-0">
                    <h3><span class="style-change">welcome</span> <br>to food fun</h3>
                    <p class="pt-3">Created god gathered don't you yielding herb you had. And isn't, god was saw. Dominion. Great sixth for in unto was. Open can't tree am waters brought. Divide after there. Was.</p>
                    <p>Created god gathered don't you yielding herb you had. And isn't, god was saw. Dominion. Great sixth for in unto was. Open can't tree waters brought. Divide after there. Was. Created god gathered don't you yielding herb you had. And isn't god.</p>
                    <a href="#" class="template-btn mt-3">book a table</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Welcome Area End -->
<!-- Dishes Area Starts -->
<div class="dishes-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top2 text-center">
                    <h3>Our <span>special</span> dishes</h3>
                    <p><i>Beast kind form divide night above let moveth bearing darkness.</i></p>
                </div>
            </div>
        </div>

        @if (Model != null)
        {
            var index = 1;
            foreach (var item in Model)
            {
                <div class="row mt-5">
                    <div class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0">
                        <img src="@item.ImageUrl" alt="@item.Name" class="img-fluid">
                    </div>
                    <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2">
                        <h1>@index.ToString("D2").</h1>
                        <div class="dishes-text">
                            <h5>@Html.ActionLink(item.Name, "FoodDetails", "Home", new { name = item.Name }, new { @class = "food-item-link" })</h5>
                            <p class="pt-3">@item.Description</p>
                            <span class="style-change">tk @item.Price</span>
                            <a href="#" class="template-btn3 mt-3">book a table <span><i class="fa fa-long-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
                index++;
            }
        }
    </div>
</div>
<!-- Dishes Area End -->
<!-- Testimonial Area Starts -->
<section class="testimonial-area section-padding4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top2 text-center">
                    <h3>Customer <span>says</span></h3>
                    <p><i>Beast kind form divide night above let moveth bearing darkness.</i></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial-slider owl-carousel">
                    <div class="single-slide d-sm-flex">
                        <div class="customer-img mr-4 mb-4 mb-sm-0">
                            <img src="~/assets/images/customer1.png" alt="">
                        </div>
                        <div class="customer-text">
                            <h5>adame nesane</h5>
                            <span><i>Chief Customer</i></span>
                            <p class="pt-3">You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.</p>
                        </div>
                    </div>
                    <div class="single-slide d-sm-flex">
                        <div class="customer-img mr-4 mb-4 mb-sm-0">
                            <img src="~/assets/images/customer2.png" alt="">
                        </div>
                        <div class="customer-text">
                            <h5>adam nahan</h5>
                            <span><i>Chief Customer</i></span>
                            <p class="pt-3">You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.</p>
                        </div>
                    </div>
                    <div class="single-slide d-sm-flex">
                        <div class="customer-img mr-4 mb-4 mb-sm-0">
                            <img src="~/assets/images/customer1.png" alt="">
                        </div>
                        <div class="customer-text">
                            <h5>adame nesane</h5>
                            <span><i>Chief Customer</i></span>
                            <p class="pt-3">You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Area End -->
